name: Android CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate Gradle Wrapper
        # Fixáljuk a Gradle verziót, hogy ne ugráljon 9.x-re
        run: gradle wrapper --gradle-version 8.10.2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        # --no-daemon: megelőzi a memóriában ragadt hibákat
        # --refresh-dependencies: a "cachelt" hibás Filament fájlok ellen
        # --stacktrace: hogy lássuk a részleteket, ha mégis gond lenne
        run: ./gradlew assembleDebug --refresh-dependencies --stacktrace --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bioacoustic-Visualizer-Debug-APK
          # A "**/..." segít megtalálni az APK-t akkor is, ha a mappa nevében kötőjel vagy alulvonás van
          path: "**/app-debug.apk"
